/*
    Mandelbrot Experiment

    Created By: Anderson Bucchianico
          Date: 30/dec/2020
          Type: Experimental Software
*/

* {
    padding: 0;
    margin: 0;
    border: none;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    font-weight: lighter;
}

:root {
    --fontColor: #333;
    --primaryBackground: rgb(255, 255, 255);
    --SencondaryBackground: #fff;
    --primaryShadow: #ddd;
    --secondaryShadow: #f5f5f5;
}

html {
    height: 100%;
    background-color: var(--primaryBackground);
}

body {
    width: 1080px;
    margin: auto
}

label {
    padding-left: 10px;
    padding-right: 5px;
}

.canvas-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px;
}

.default-border {
    border: solid 1px #ddd;
    border-radius: 3px;
    padding: 5px;
    box-shadow: 0 0 5px 4px whitesmoke;
}

.default-label {
    height: 26px;
    display: flex;
    padding: 0px 5px 0px 5px;
    align-items: center;
    font-size: 14px;
}
comp-console {
    width: 400px;
}

.container {
    display: flex;
    justify-content: center;
    column-gap: 20px;
    padding: 20px;
}

canvas.canvas {
    padding: 0px;
    width: inherit;
    height: inherit;
}

.default-button {
    background-image: linear-gradient(rgb(255, 255, 255),rgb(231, 231, 231));
    cursor: pointer;
}
.default-button:active {
    background-image: linear-gradient(rgb(231, 231, 231),rgb(255, 255, 255));
    cursor: pointer;
    color: #555;
}

section.console-control {
    background-image: linear-gradient(180deg, #fff, #f4f4f4);
    border: 2px solid #eee;
    border-radius: 5px 5px 0px 0px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

.console-container {
    min-width: 33%;
}

.canvas-container {
    min-width: 33%;
}

.canvas-wrapper {
    padding:0;
    width: 600px;
    height: 600px;
}

section.control-panel {
    padding: 10px;
    background-image: linear-gradient(180deg, #fff, #f4f4f4);
    display: flex;
    justify-content: center;
    column-gap: 10px;
}

article.output-console {
    border-radius: 0px 0px 5px 5px;
    font-family: monospace;
    overflow: hidden scroll;
    height: 502px;
}

input.default-input {
    min-width: 75px;
}