/* 

    Mandelbrot Experiment
    Created by Anderson Bucchianico @ 2020 - 2022.
    Licensed by General Public License v3

    See https://www.gnu.org/licenses/gpl-3.0.en.html for more details.
    Thank you.

*/

* {
    padding: 0;
    margin: 0;
    border: none;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--fontColor);
    font-weight: lighter;
}

:root {
    --fontColor: rgb(255, 255, 255);
    --primaryBackground: rgb(255, 255, 255);
    --secondaryBackground: #53565a;
    --primaryShadow: #ddd;
    --secondaryShadow: #f5f5f5;
}

html {
    height: 100%;
    background-color: var(--primaryBackground);
}

body {
    margin: auto;
    display: flex;
    height: inherit;
    background-color: var(--secondaryBackground);
}

.default-border {
    border: solid 1px #373b3d;
    border-radius: 3px;
    padding: 5px;
}

.default-label {
    height: 26px;
    display: flex;
    padding: 0px 5px 0px 5px;
    align-items: center;
    font-size: 14px;
}

.default-input {
    min-width: 118px;
    height: 26px;
    box-shadow: none;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
    background-color: var(--secondaryBackground);
}

.default-input[type='checkbox'] {
    height: 16px;
}

.default-button {
    background-image: linear-gradient(rgb(83 87 90),rgb(37 39 41));
    outline: none;
    cursor: pointer;
}
.default-button::after {
    content: 'Start!';
}
.default-button:active {
    background-image: linear-gradient(rgb(37 39 41),rgb(83 87 90));
    cursor: pointer;
}

.default-button:active::after {
    content: 'Plase Wait...'
}

/* Canvas ===================================================== */

comp-canvascontainer {
    margin: auto;
}
comp-canvascontainer > canvas {
    padding:0;
}

/* Control Panel ============================================== */

section.control-panel {
    padding: 10px;
    background-color: #35363A;
    display: flex;
    flex-wrap: wrap;
    width: 128px;
    height: fit-content;
    row-gap: 20px;
    box-shadow: 3px 3px 12px black;
    margin: 10px 0px 0px 10px;
}
section.control-panel > div {
    height: 46px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
section.control-panel > div > input {
    width: -webkit-fill-available;
}
section.control-panel > div > button {
    width: 100%;
    border-radius: 5px;
}